div.tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabcontent{
    display: none;
    /*padding: 6px 12px;*/
    /*border: 1px solid #ccc;*/
    border: none;
    border-top: none;
}

li {
    display: list-item;
    margin-left: 0px;
    margin: 0px;
    padding: 0px;

}

.resume-section { 
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin-top: 30px;
    margin-bottom: 0px;
}

.resume-section-title{
    background: #FFFFFF;
    padding: 0 10px;
}

.first-title-letters{
    /*font-family: serif;*/
    /*font-size: 150%;*/
    /*font-weight: bold;*/
    color: #ED9A29;
    padding: 0;
}

.publication{

    margin-top: 100px;
}


#map {
    width:max-width;
    height:400px;
    background:white;
}